---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/scoreboardV2?DayOffset=0&LeagueID=00&gameDate=2018%2003%2031
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 15:05:09 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"scoreboardV2","parameters":{"GameDate":"2018 03 31","LeagueID":"00","DayOffset":"0"},"resultSets":[{"name":"GameHeader","headers":["GAME_DATE_EST","GAME_SEQUENCE","GAME_ID","GAME_STATUS_ID","GAME_STATUS_TEXT","GAMECODE","HOME_TEAM_ID","VISITOR_TEAM_ID","SEASON","LIVE_PERIOD","LIVE_PC_TIME","NATL_TV_BROADCASTER_ABBREVIATION","HOME_TV_BROADCASTER_ABBREVIATION","AWAY_TV_BROADCASTER_ABBREVIATION","LIVE_PERIOD_TIME_BCAST","ARENA_NAME","WH_STATUS"],"rowSet":[["2018-03-31T00:00:00",1,"0021701138",1,"3:00
        pm ET","20180331/CHAWAS",1610612764,1610612766,"2017",0,"     ","NBA TV","NBCSWA","FSSE-CHA","Q0       -
        NBA TV","Capital One Arena",0],["2018-03-31T00:00:00",2,"0021701139",1,"5:00
        pm ET","20180331/DETNYK",1610612752,1610612765,"2017",0,"     ",null,"MSG","FSD/FSD+","Q0       -
        ","Madison Square Garden",0],["2018-03-31T00:00:00",3,"0021701140",1,"7:30
        pm ET","20180331/TORBOS",1610612738,1610612761,"2017",0," [...]
