---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/boxscoresummaryv2?EndPeriod=0&EndRange=0&GameID=0041400122&RangeType=0&Season=2017-18&SeasonType=Regular%20Season&StartPeriod=0&StartRange=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 15:27:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"boxscoresummary","parameters":{"GameID":"0041400122"},"resultSets":[{"name":"GameSummary","headers":["GAME_DATE_EST","GAME_SEQUENCE","GAME_ID","GAME_STATUS_ID","GAME_STATUS_TEXT","GAMECODE","HOME_TEAM_ID","VISITOR_TEAM_ID","SEASON","LIVE_PERIOD","LIVE_PC_TIME","NATL_TV_BROADCASTER_ABBREVIATION","LIVE_PERIOD_TIME_BCAST","WH_STATUS"],"rowSet":[["2015-04-20T00:00:00",1,"0041400122",3,"Final","20150420/MILCHI",1610612741,1610612749,"2014",4,"
        ","TNT","Q4   - TNT",1]]},{"name":"OtherStats","headers":["LEAGUE_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PTS_PAINT","PTS_2ND_CHANCE","PTS_FB","LARGEST_LEAD","LEAD_CHANGES","TIMES_TIED","TEAM_TURNOVERS","TOTAL_TURNOVERS","TEAM_REBOUNDS","PTS_OFF_TO"],"rowSet":[["00",1610612741,"CHI","Chicago",30,11,2,10,12,9,2,15,7,15],["00",1610612749,"MIL","Milwaukee",36,7,6,9,12,9,0,4,2,7]]},{"na[...]
