---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/commonallplayers?IsOnlyCurrentSeason=1&LeagueID=00&Season=2016-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 30 Mar 2018 16:48:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"commonallplayers","parameters":{"LeagueID":"00","Season":"2016-17","IsOnlyCurrentSeason":1},"resultSets":[{"name":"CommonAllPlayers","headers":["PERSON_ID","DISPLAY_LAST_COMMA_FIRST","DISPLAY_FIRST_LAST","ROSTERSTATUS","FROM_YEAR","TO_YEAR","PLAYERCODE","TEAM_ID","TEAM_CITY","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","GAMES_PLAYED_FLAG"],"rowSet":[[201582,"Ajinca,
        Alexis","Alexis Ajinca",1,"2008","2017","alexis_ajinca",1610612740,"New Orleans","Pelicans","NOP","pelicans","Y"],[202730,"Allen,
        Lavoy","Lavoy Allen",1,"2011","2016","lavoy_allen",1610612754,"Indiana","Pacers","IND","pacers","Y"],[2754,"Allen,
        Tony","Tony Allen",1,"2004","2017","tony_allen",1610612763,"Memphis","Grizzlies","MEM","grizzlies","Y"],[2365,"Andersen,
        Chris","Chris Andersen",0,"2001","2016","chris_andersen",0,"","","","","Y"],[101187,[...]
