---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/boxscorefourfactorsv2?EndPeriod=0&EndRange=0&GameID=0041400122&RangeType=0&StartPeriod=0&StartRange=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 15:27:38 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"boxscore","parameters":{"GameID":"0041400122","StartPeriod":0,"EndPeriod":0,"StartRange":0,"EndRange":0,"RangeType":0},"resultSets":[{"name":"sqlPlayersFourFactors","headers":["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PLAYER_ID","PLAYER_NAME","START_POSITION","COMMENT","MIN","EFG_PCT","FTA_RATE","TM_TOV_PCT","OREB_PCT","OPP_EFG_PCT","OPP_FTA_RATE","OPP_TOV_PCT","OPP_OREB_PCT"],"rowSet":[["0041400122",1610612749,"MIL","Milwaukee",203507,"Giannis
        Antetokounmpo","F","","37:52",0.349,0.178,0.041,0.163,0.397,0.221,0.172,0.25],["0041400122",1610612749,"MIL","Milwaukee",101141,"Ersan
        Ilyasova","F","","23:44",0.442,0.209,0.063,0.077,0.5,0.41,0.128,0.217],["0041400122",1610612749,"MIL","Milwaukee",2585,"Zaza
        Pachulia","C","","22:32",0.369,0.238,0.045,0.143,0.39,0.293,0.108,0.179],["0041400122",1610612749,"MIL","Milwaukee",203114,"Khris
        Middleton","G","",[...]
