---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/boxscoreadvancedv2?EndPeriod=0&EndRange=0&GameID=0041400122&RangeType=0&StartPeriod=0&StartRange=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 15:27:08 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"boxscore","parameters":{"GameID":"0041400122","StartPeriod":0,"EndPeriod":0,"StartRange":0,"EndRange":0,"RangeType":0},"resultSets":[{"name":"PlayerStats","headers":["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PLAYER_ID","PLAYER_NAME","START_POSITION","COMMENT","MIN","OFF_RATING","DEF_RATING","NET_RATING","AST_PCT","AST_TOV","AST_RATIO","OREB_PCT","DREB_PCT","REB_PCT","TM_TOV_PCT","EFG_PCT","TS_PCT","USG_PCT","PACE","PIE"],"rowSet":[["0041400122",1610612749,"MIL","Milwaukee",203507,"Giannis
        Antetokounmpo","F","","37:52",84.1,83.3,0.8,0.182,2.0,22.4,0.041,0.187,0.113,11.2,0.182,0.253,0.17,94.64,0.072],["0041400122",1610612749,"MIL","Milwaukee",101141,"Ersan
        Ilyasova","F","","23:44",91.7,106.3,-14.5,0.0,0.0,0.0,0.038,0.217,0.122,0.0,0.3,0.368,0.218,96.07,0.069],["0041400122",1610612749,"MIL","Milwaukee",2585,"Zaza
        Pachulia","C","","22:32",87.8,88.6,-0.8,0.25,0.0,25.3,0.036,0.179,0.107,0.0,0.375,0.394,[...]
