---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/boxscorescoringv2?EndPeriod=0&EndRange=0&GameID=0041400122&RangeType=0&StartPeriod=0&StartRange=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 30 Mar 2018 16:48:19 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"boxscore","parameters":{"GameID":"0041400122","StartPeriod":0,"EndPeriod":0,"StartRange":0,"EndRange":0,"RangeType":0},"resultSets":[{"name":"sqlPlayersScoring","headers":["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PLAYER_ID","PLAYER_NAME","START_POSITION","COMMENT","MIN","PCT_FGA_2PT","PCT_FGA_3PT","PCT_PTS_2PT","PCT_PTS_2PT_MR","PCT_PTS_3PT","PCT_PTS_FB","PCT_PTS_FT","PCT_PTS_OFF_TOV","PCT_PTS_PAINT","PCT_AST_2PM","PCT_UAST_2PM","PCT_AST_3PM","PCT_UAST_3PM","PCT_AST_FGM","PCT_UAST_FGM"],"rowSet":[["0041400122",1610612749,"MIL","Milwaukee",203507,"Giannis
        Antetokounmpo","F","","37:52",1.0,0.0,0.667,0.333,0.0,0.0,0.333,0.0,0.333,0.5,0.5,0.0,0.0,0.5,0.5],["0041400122",1610612749,"MIL","Milwaukee",101141,"Ersan
        Ilyasova","F","","23:44",0.7,0.3,0.75,0.0,0.0,0.25,0.25,0.25,0.75,1.0,0.0,0.0,0.0,1.0,0.0],["0041400122",1610612749,"MIL","Milwaukee",2585,"Zaza
        Pachulia","C","","22:32",1.0,0.0,0.857,0.857,0.0,0.0,0.143,0.0,0.0,0.333,0.667,0.0,0.0,0.333,0.667],["0041400122",1[...]
