---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/commonallplayers?IsOnlyCurrentSeason=1&LeagueID=00&Season=2017-18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 14:58:54 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"commonallplayers","parameters":{"LeagueID":"00","Season":"2017-18","IsOnlyCurrentSeason":1},"resultSets":[{"name":"CommonAllPlayers","headers":["PERSON_ID","DISPLAY_LAST_COMMA_FIRST","DISPLAY_FIRST_LAST","ROSTERSTATUS","FROM_YEAR","TO_YEAR","PLAYERCODE","TEAM_ID","TEAM_CITY","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","GAMES_PLAYED_FLAG"],"rowSet":[[203518,"Abrines,
        Alex","Alex Abrines",1,"2016","2017","alex_abrines",1610612760,"Oklahoma City","Thunder","OKC","thunder","Y"],[203112,"Acy,
        Quincy","Quincy Acy",1,"2012","2017","quincy_acy",1610612751,"Brooklyn","Nets","BKN","nets","Y"],[203500,"Adams,
        Steven","Steven Adams",1,"2013","2017","steven_adams",1610612760,"Oklahoma
        City","Thunder","OKC","thunder","Y"],[1628389,"Adebayo, Bam","Bam Adebayo",1,"2017","2017","bam_adebayo",1610612748,"Miami","Heat","MIA",[...]
