---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/commonplayerinfo?PlayerID=203507
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 14:59:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"commonplayerinfo","parameters":[{"PlayerID":203507},{"LeagueID":null}],"resultSets":[{"name":"CommonPlayerInfo","headers":["PERSON_ID","FIRST_NAME","LAST_NAME","DISPLAY_FIRST_LAST","DISPLAY_LAST_COMMA_FIRST","DISPLAY_FI_LAST","BIRTHDATE","SCHOOL","COUNTRY","LAST_AFFILIATION","HEIGHT","WEIGHT","SEASON_EXP","JERSEY","POSITION","ROSTERSTATUS","TEAM_ID","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE","TEAM_CITY","PLAYERCODE","FROM_YEAR","TO_YEAR","DLEAGUE_FLAG","GAMES_PLAYED_FLAG","DRAFT_YEAR","DRAFT_ROUND","DRAFT_NUMBER"],"rowSet":[[203507,"Giannis","Antetokounmpo","Giannis
        Antetokounmpo","Antetokounmpo, Giannis","G. Antetokounmpo","1994-12-06T00:00:00","Greece","Greece","Greece/Greece","6-11","222",4,"34","Forward","Active",1610612749,"Bucks","MIL","bucks","Milwaukee","giannis_antetokounmpo",2013,2017,"N","Y","2013","1","15"]]},{"name":"PlayerHeadlineStats","headers":["PLAYER_ID","PLAYER_NAME","TimeFrame","PTS","AST","REB","PIE"],"rowSet":[[203507,"Giannis
        Antetokounmpo","2017-18",27.300000,4.800000,10.000000,0.189]]},{"name":"AvailableSeasons","headers":["SEASON_ID"],"rowSet":[["12013"],["22013"],["12014"],["22014"],["42014"],["12015"],["22015"],["12016"],["22016"],["32016"],["42016"],["12017"],["22017"],["32017"]]}]}'
  recorded_at: Sat, 31 Mar 2018 14:59:24 GMT
recorded_with: VCR 3.0.3
