---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/boxscoreusagev2?EndPeriod=0&EndRange=0&GameID=0041400122&RangeType=0&StartPeriod=0&StartRange=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 14:59:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"boxscore","parameters":{"GameID":"0041400122","StartPeriod":0,"EndPeriod":0,"StartRange":0,"EndRange":0,"RangeType":0},"resultSets":[{"name":"sqlPlayersUsage","headers":["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PLAYER_ID","PLAYER_NAME","START_POSITION","COMMENT","MIN","USG_PCT","PCT_FGM","PCT_FGA","PCT_FG3M","PCT_FG3A","PCT_FTM","PCT_FTA","PCT_OREB","PCT_DREB","PCT_REB","PCT_AST","PCT_TOV","PCT_STL","PCT_BLK","PCT_BLKA","PCT_PF","PCT_PFD","PCT_PTS"],"rowSet":[["0041400122",1610612749,"MIL","Milwaukee",203507,"Giannis
        Antetokounmpo","F","","37:52",0.17,0.083,0.151,0.0,0.0,0.182,0.154,0.25,0.25,0.25,0.444,0.667,0.222,0.286,0.167,0.308,0.143,0.097],["0041400122",1610612749,"MIL","Milwaukee",101141,"Ersan
        Ilyasova","F","","23:44",0.218,0.167,0.233,0.0,0.429,0.333,0.222,0.5,0.278,0.3,0.0,0.0,0.0,0.2,0.0,0.077,0.1,0.182],["0041400122",1610612749,"MIL","Milwaukee",2585,"Zaza
        Pachulia","C","","22:32",0.183,0.2,0.19,0.0,0.0,0.125,0.2,[...]
