---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/playercareerstats?LeagueID=00&PerMode=PerGame&PlayerID=203507
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 30 Mar 2018 16:48:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"playercareerstats","parameters":{"PerMode":"PerGame","PlayerID":203507,"LeagueID":"00"},"resultSets":[{"name":"SeasonTotalsRegularSeason","headers":["PLAYER_ID","SEASON_ID","LEAGUE_ID","TEAM_ID","TEAM_ABBREVIATION","PLAYER_AGE","GP","GS","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS"],"rowSet":[[203507,"2013-14","00",1610612749,"MIL",19.0,77,23,24.60000000000000000,2.200000,5.400000,0.414,0.500000,1.500000,0.347,1.800000,2.600000,0.683,1.000000,3.400000,4.400000,1.900000,0.800000,0.800000,1.600000,2.200000,6.800000],[203507,"2014-15","00",1610612749,"MIL",20.0,81,71,31.40000000000000000,4.700000,9.600000,0.491,0.100000,0.500000,0.159,3.200000,4.300000,0.741,1.200000,5.500000,6.700000,2.600000,0.900000,1.000000,2.100000,3.100000,12.700000],[203507,"2015-16","00",1610612749,"MIL",21.0,8[...]
