---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/boxscoretraditionalv2?EndPeriod=0&EndRange=0&GameID=0041400122&RangeType=0&StartPeriod=0&StartRange=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 31 Mar 2018 15:29:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resource":"boxscore","parameters":{"GameID":"0041400122","StartPeriod":0,"EndPeriod":0,"StartRange":0,"EndRange":0,"RangeType":0},"resultSets":[{"name":"PlayerStats","headers":["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PLAYER_ID","PLAYER_NAME","START_POSITION","COMMENT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TO","PF","PTS","PLUS_MINUS"],"rowSet":[["0041400122",1610612749,"MIL","Milwaukee",203507,"Giannis
        Antetokounmpo","F","","37:52",2,11,0.182,0,0,0.000,2,2,1.000,2,9,11,4,2,2,2,4,6,-1.000],["0041400122",1610612749,"MIL","Milwaukee",101141,"Ersan
        Ilyasova","F","","23:44",3,10,0.300,0,3,0.000,2,2,1.000,1,5,6,0,0,1,0,1,8,-6.000],["0041400122",1610612749,"MIL","Milwaukee",2585,"Zaza
        Pachulia","C","","22:32",3,8,0.375,0,0,0.000,1,2,0.500,1,5,6,3,1,2,0,2,7,-2.000],["0041400122",1610612749,"MIL","Milwaukee",203114,"Khr[...]
